<h2>{{ getTitle() }}</h2>
<ul>
    <li *ngFor="let course of courses">
        {{ course }}
    </li>
</ul>
<div>
    <input [(ngModel)]="email" (keydown.enter)="onKeyUp()" /><br />
    <button class="btn btn-primary" [class.active]="isActive" (click)="onSave($event)">Save</button><br />
</div>
{{ course.title}} <br />
{{ course.students | number }} <br />
{{ course.rating | number:'1.0-1' }} <br />
{{ course.price | currency:'PER':'symbol' }} <br />
{{ course.releaseDate | date:'shortDate' }} <br />
<br />
<div>
    {{ (showAllText) ? loremIpsum : (loremIpsum | summary:200:false) }}
    <a href="#" class="card-link" (click)="onShowMoreClick()">{{ (showAllText) ? "Show less..." : "Show more..." }}</a>
</div>